html {
    background: linear-gradient(to right, #00AAFF, #00ff6c);
    margin: 0;
    font-family: 'Cascadia Code', 'Fira Code', sans-serif;
}

body {
    display: flex;
    margin: 0;
    font-size: 24px;
}

#left-panel {
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#name {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    font-size: 96px;
    padding: 40px;
}

#right-panel {
    background-color: rgba(255, 255, 255, 0.50);;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
    height: 30vh;
    justify-content: flex-end;
}

#text1 {
    padding-left: 40px;
}

#text2 {
    padding-bottom: 64px;
    padding-left: 40px;
}


#middle {
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 40vh;
    gap: 16px;
}

#LDT {
    padding-left: 40px;
}

#bottom {
    height: 30vh;
}

#form {
    display: flex;
    gap: 10vw;
}

#left-side, #right-side {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 40px;
    font-size: 16px;
}

#div-fName, #div-email, #div-pword, #div-lName, #phoneNumber, #confirm-pword {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

#bottom-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

button {
    font-family: 'Cascadia Code', 'Fira Code', sans-serif;
    width: 12vw;
    height: 5vh;
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
}

input {
    height: 32px;
    font-size:24px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}